.main {
  background-color: rgb(252, 252, 252);
}

.top {
  background-color: #f8d7cb;
  background-image: url(../assets/pawprints.png);
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilepic {
  width: 70%;
  aspect-ratio: 1 / 1;
  margin: 5rem 0 2rem;
  display: flex;
  justify-content: center;
}
.profilepic img {
  border-radius: 50%;
  border: 0.5rem solid rgba(0, 0, 0, 0.158);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.basicdetails {
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: -5rem;
  margin: 0 2rem -5rem;
  padding: 1rem;
  box-shadow: 10px 10px 63px -48px rgba(0, 0, 0, 0.75);
}

.shortinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.shortinfo div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4rem;
  margin: 0;
}

.shortinfo div h3 {
  margin: 0;
}

.name {
  font-size: 1.4rem;
}
.age h3 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #999999;
}
.breed h3 {
  color: #999999;
  font-weight: 500;
  font-size: 1rem;
}
.breed img {
  height: 2rem;
  margin-right: 0.5rem;
}
.sex img {
  height: 3rem;
  width: 3rem;
}

.vaccination {
  margin: 0 2rem;
  padding: 1rem;
}

.vaccination h2 {
  font-size: 1.3rem;
  margin-bottom: -1rem;
}

.vaccination ul {
  --icon-size: 1em;
  --gutter: 0.5em;
  padding: 0 0 0 var(--icon-size);
  font-size: 1.2rem;
}

.vaccination ul li {
  padding-left: var(--gutter);
  padding-top: 1rem;
  font-weight: 500;
  color: #444444;
}

.vaccination ul li::marker {
  content: "\f481"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.lightpink {
  background-color: #fef6f2;
}

.mapsection {
  background-color: #fef6f2;
  padding: 1rem;
}

.mapbox {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  height: 40vh;
}

.contactInfo {
  background-color: black;
  border-radius: 20px;
  display: grid;
  margin: 2rem;
  position: sticky;
  padding: 0 1rem;
  bottom: 10px;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "icon firstName firstName"
    "icon phoneNumber city";
}
.contactInfo h5 {
  font-weight: 400;
  color: #b3b3b3;
  margin: 0;
}
.contactInfo h4 {
  margin: 0;
}

.icon {
  background-color: #f47b52;
  border-radius: 1rem;
  grid-area: icon;
  margin: 1rem;
  margin-left: 0.3rem;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstName {
  grid-area: firstName;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.phoneNumber {
  grid-area: phoneNumber;
  display: flex;
  align-items: center;
}

.city {
  grid-area: city;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  text-align: center;
  gap: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.705);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}

.sidebar {
  max-width: 400px;
  background-color: rgb(252, 252, 252);
  border-radius: 30px;
  box-shadow: 10px 10px 63px -59px rgba(0, 0, 0, 0.75);
  padding: 2rem 3rem 3rem;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar svg {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 1.1rem;
  cursor: pointer;
}

.sidebar h4 {
  font-size: 2.2rem;
  padding: 1rem;
  color: rgb(248, 0, 0);
  margin: 0;
  font-weight: 700;
}
.sidebar h5 {
  font-size: 1rem;
  padding: 0 2rem;
  margin: 0;
  color: #5a5a5a;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .background {
    max-width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .background {
    max-width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    width: 30%;
  }
}
