.card {
  background-color: white;
  display: grid;
  align-items: center;
  border-radius: 20px;
  grid-template-columns: 1fr 5fr 0.5fr;
  margin: 1rem;
  color: rgb(4, 0, 39);
  cursor: pointer;
  transition: all 0.4s;
  border: .1rem solid #eb451c36;
}

.card:hover {
  transform: scale(1.05);
  border: .1rem solid #eb451ca9;

}

.petName {
  font-size: 3rem;
}
.petavatar {
  margin: 15px;
  width: 6em;
  height: 6em;
  object-fit: cover;
  border-radius: 50px;
}
.hamburger {
  font-size: 3rem;
  color: #eb461c;
  margin: 2rem;
}
