/* .background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 5rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
.h1 {
  font-size: 4em;
  margin: 0 2rem 0 0;
}
.topheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 2em;
  width: 100%;
  height: auto;
}
.imagecontainer {
  width: 40%;
  min-height: 40vh;
  max-height: 70vh;
  position: relative;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 50px;
  object-fit: cover;
}

.imagecontainer:hover .overlay {
  visibility: visible;
  opacity: 0.7;
  cursor: pointer;
}

.imagemodal {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.imagemodal form {
  width: 50%;
}

.imagemodal button {
  background-color: aquamarine;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
}

.imagemodal button:hover{
  background-color: rgb(187, 255, 232);
}
.overlay {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  opacity: 0;
  top: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generalinfo {
  margin: 2rem 5rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.edit {
  position: absolute;
  right: 0;
  bottom: 0;
}

.edit img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 10px;
  transition: all 1s;
  cursor: pointer;
}
.edit img:hover {
  transform: scale(1.1);
}

.delete {
  background-color: white;
  color: red;
  text-decoration: underline;
  border: 0;
  padding: 2rem;
  cursor: pointer;
}

.delete:hover {
  color: brown;
} */


.main {
  background-color: rgb(252, 252, 252);
}

.top {
  background-color: #f8d7cb;
  background-image: url(../../assets/pawprints.png);
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilepic {
  width: 70%;
  aspect-ratio: 1 / 1;
  margin: 5rem 0 2rem;
  display: flex;
  justify-content: center;
}
.profilepic img {
  border-radius: 50%;
  border: 0.5rem solid rgba(0, 0, 0, 0.158);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.basicdetails {
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: -5rem;
  margin: 0 2rem -5rem;
  padding: 1rem;
  box-shadow: 10px 10px 63px -48px rgba(0, 0, 0, 0.75);
}

.shortinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.shortinfo div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4rem;
  margin: 0;
}

.shortinfo div h3 {
  margin: 0;
}

.name {
  font-size: 1.4rem;
}
.age h3 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #999999;
}
.breed h3 {
  color: #999999;
  font-weight: 500;
  font-size: 1rem;
}
.breed img {
  height: 2rem;
  margin-right: 0.5rem;
}
.sex img {
  height: 3rem;
  width: 3rem;
}

.vaccination {
  margin: 0 2rem;
  padding: 1rem;
}

.vaccination h2 {
  font-size: 1.3rem;
  margin-bottom: -1rem;
}

.vaccination ul {
  --icon-size: 1em;
  --gutter: 0.5em;
  padding: 0 0 0 var(--icon-size);
  font-size: 1.2rem;
}

.vaccination ul li {
  padding-left: var(--gutter);
  padding-top: 1rem;
  font-weight: 500;
  color: #444444;
}

.vaccination ul li::marker {
  content: "\f481"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}

.lightpink {
  background-color: #fef6f2;
}

.mapsection {
  background-color: #fef6f2;
  padding: 1rem;
}

.mapbox {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  height: 40vh;
}

.contactInfo {
  background-color: black;
  border-radius: 20px;
  display: grid;
  margin: 2rem;
  position: sticky;
  padding: 0 1rem ;
  bottom: 10px;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "icon firstName firstName"
    "icon phoneNumber city";
}
.contactInfo h5 {
  font-weight: 400;
  color: #b3b3b3;
  margin: 0;
}
.contactInfo h4 {
  margin: 0;
}

.icon {
  background-color: #f47b52;
  border-radius: 1rem;
  grid-area: icon;
  margin: 1rem;
  margin-left: .3rem;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstName {
  grid-area: firstName;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.phoneNumber {
  grid-area: phoneNumber;
  display: flex;
  align-items: center;
}

.city {
  grid-area: city;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-content: center;
  margin-left: .5rem;
  text-align: center;
  gap: 10px;
}

.iconedit{
  color: #444444;
}

.iconedit:hover{
  cursor: pointer;
  color: black;
}

@media only screen and (min-width: 768px) {
  .background {
    max-width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .background {
    max-width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    width: 30%;
  }
}
