.window {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  /* background-color: #f5e6be; */
  /* background-color: #fcf8ee; */
  /* background-color: #ffffff; */
  background-color: #f1f1f162;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  position: relative;
  top: 0;
  background-color: white;
  width: calc(100vw - (100vw - 100%));
  box-shadow: 0px 12px 24px -12px rgba(4, 0, 39, 0.1);
  -webkit-box-shadow: 0px 12px 24px -12px rgba(4, 0, 39, 0.1);
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .header {
    position: absolute;
  }
}

.header section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header svg {
  height: 4rem;
  margin: 0 2rem;
  cursor: pointer;
}

.header img {
  height: 2rem;
  width: auto;
  margin: 0 2rem;
  cursor: pointer;
}
.showprofilebackground {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  z-index: 30;
}
.ul {
  margin-top: 3rem;
}

.showprofile {
  display: flex;
  height: 100vh;
  width: 15rem;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  animation: 0.5s ease-out 0s 1 slidein;
  z-index: 40;
}

.hr {
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  border: 1px solid #4d4d4dd3;
}

.showprofile li {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
  list-style: none;
  cursor: pointer;
  text-decoration: 1px solid transparent;
  transition: text-decoration 0.5s;
}

.showprofile li:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.showprofile svg {
  height: 2rem;
  width: auto;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.signout {
  font-size: 1rem;
  width: 100%;
  border: 0;
  margin-top: 1rem;
  padding: 0.6em;
  border-radius: 0.5rem;
  background-color: #e76f51;
  color: white;
  cursor: pointer;
}

.signout:hover {
  background-color: #f4a261;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading p {
  margin: 0;
  padding: 0;
}

.selected {
  box-shadow: 0px 0px 32px 0px #ff9640c7;
}
