.main {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  align-items: center;
}
.button {
  font-size: 2rem;
  border: 0;
  margin: 1rem;
  padding: .2em 2em;
  border-radius: 20px;
  background-color: #e76f51;
  color: white;
  transition: transform 0.3s;

  cursor: pointer;
}

.button:hover {
  background-color: #f4a261;
  transform: translateY(-5px);
}
