form {
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 3rem;
  color: #220700;
}

form input {
  margin: 10px 0;
  border-radius: 5px;
  border: 0.2px solid black;
  height: 2rem;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
form label {
  font-size: 1.5rem;
}
.button {
  font-size: 2rem;
  width: 100%;
  border: 0;
  margin-top: 1rem;
  padding: 0.2em;
  border-radius: 20px;
  background-color: #e76f51;
  color: white;
  cursor: pointer;
}

.button:hover {
    background-color: #f4a261;
  }
