.background {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.background h2 {
  color: #070024;
  margin: 1.7rem 2rem;
}

.background h3 {
  font-size: 1rem;
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
  color: rgb(0, 114, 66);
}

.text {
  font-size: 1.4rem;
  margin: 0.5rem 2rem;
  color: #070024;
  display: flex;
  align-items: center;
}

.logout {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 400;
  border: 2px solid #07002467;
  color: #070024;

  background-color: white;

  border-radius: 5px;
  cursor: pointer;
}
.edit {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid #007714;
  font-weight: 400;
  background-color: white;
  color: #007714;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.delete {
  color: rgb(255, 96, 96);
  text-decoration: underline;
  cursor: pointer;
  font-size: .7rem;
  transition: all 1s;
  background-color: white;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid white;
  color: red;
}

.upgrade {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 400;
  background-color: #33b249;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.upgrade:hover {
  border-radius: 2rem;
  transform: scale(1.05);
}

.edit:hover {
  border-radius: 2rem;
}

.button {
  padding: 2rem;
  flex-direction: column;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.background svg {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #070024b7;
}
